In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Ai/House Price India.csv')
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
df.shape

(14620, 23)

In [ ]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
x = df.iloc[:,0:-1].values
y= df.iloc[:,4:5].values

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.3,random_state = 0)

In [ ]:
xtrain.shape

(10234, 22)

In [ ]:
xtest.shape

(4386, 22)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# create ANN structure

regressor = Sequential()
regressor.add(Dense(4,activation = 'relu'))
regressor.add(Dense(12,activation = 'relu'))
regressor.add(Dense(9,activation = 'relu'))
regressor.add(Dense(1,activation = 'linear'))

In [ ]:
# compiling the ANN model
 
regressor.compile(optimizer = 'adam',loss= 'mse',metrics = ['mse'])

In [ ]:
# Training the model
regressor.fit(xtrain,ytrain,batch_size = 10,epochs = 300)

Epoch 1/300
1024/1024 [==============================] - 3s 2ms/step - loss: 1124547952640.0000 - mse: 1124547952640.0000
Epoch 2/300
1024/1024 [==============================] - 3s 2ms/step - loss: 1118034.7500 - mse: 1118034.7500
Epoch 3/300
1024/1024 [==============================] - 2s 2ms/step - loss: 1346738.8750 - mse: 1346738.8750
Epoch 4/300
1024/1024 [==============================] - 2s 2ms/step - loss: 1881524.2500 - mse: 1881524.2500
Epoch 5/300
1024/1024 [==============================] - 2s 2ms/step - loss: 3956182.5000 - mse: 3956182.5000
Epoch 6/300
1024/1024 [==============================] - 2s 2ms/step - loss: 2631290624.0000 - mse: 2631290624.0000
Epoch 7/300
1024/1024 [==============================] - 2s 2ms/step - loss: 3376472576.0000 - mse: 3376472576.0000
Epoch 8/300
1024/1024 [==============================] - 2s 2ms/step - loss: 2301108224.0000 - mse: 2301108224.0000
Epoch 9/300
1024/1024 [==============================] - 2s 2ms/step - loss: 1219375872.0000 - mse: 1219375872.0000
Epoch 10/300
1024/1024 [==============================] - 2s 2ms/step - loss: 693082368.0000 - mse: 693082368.0000
Epoch 11/300
1024/1024 [==============================] - 2s 2ms/step - loss: 290115104.0000 - mse: 290115104.0000
Epoch 12/300
1024/1024 [==============================] - 2s 2ms/step - loss: 138880112.0000 - mse: 138880112.0000
Epoch 13/300
1024/1024 [==============================] - 2s 2ms/step - loss: 52538488.0000 - mse: 52538488.0000
Epoch 14/300
1024/1024 [==============================] - 2s 2ms/step - loss: 19732742.0000 - mse: 19732742.0000
Epoch 15/300
1024/1024 [==============================] - 2s 2ms/step - loss: 9812513.0000 - mse: 9812513.0000
Epoch 16/300
1024/1024 [==============================] - 2s 2ms/step - loss: 3806077.2500 - mse: 3806077.2500
Epoch 17/300
1024/1024 [==============================] - 3s 3ms/step - loss: 1782045.0000 - mse: 1782045.0000
Epoch 18/300
1024/1024 [==============================] - 2s 2ms/step - loss: 1097892.7500 - mse: 1097892.7500
Epoch 19/300
1024/1024 [==============================] - 2s 2ms/step - loss: 917820.3125 - mse: 917820.3125
Epoch 20/300
1024/1024 [==============================] - 2s 2ms/step - loss: 969649.9375 - mse: 969650.0625
Epoch 21/300
1024/1024 [==============================] - 2s 2ms/step - loss: 1003047.0000 - mse: 1003047.0000
Epoch 22/300
1024/1024 [==============================] - 2s 2ms/step - loss: 1151878.6250 - mse: 1151878.6250
Epoch 23/300
1024/1024 [==============================] - 2s 2ms/step - loss: 1253102.3750 - mse: 1253102.3750
Epoch 24/300
1024/1024 [==============================] - 2s 2ms/step - loss: 4169527.0000 - mse: 4169527.0000
Epoch 25/300
1024/1024 [==============================] - 2s 2ms/step - loss: 4535439.0000 - mse: 4535439.0000
Epoch 26/300
1024/1024 [==============================] - 2s 2ms/step - loss: 3424633.0000 - mse: 3424633.0000
Epoch 27/300
1024/1024 [==============================] - 2s 2ms/step - loss: 2244399.2500 - mse: 2244399.2500
Epoch 28/300
1024/1024 [==============================] - 2s 2ms/step - loss: 1360165.1250 - mse: 1360165.1250
Epoch 29/300
1024/1024 [==============================] - 2s 2ms/step - loss: 957345.4375 - mse: 957345.4375
Epoch 30/300
1024/1024 [==============================] - 2s 2ms/step - loss: 873019.6250 - mse: 873019.6250
Epoch 31/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866804.6875 - mse: 866804.6875
Epoch 32/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866753.7500 - mse: 866753.7500
Epoch 33/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866706.1250 - mse: 866706.1250
Epoch 34/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866713.7500 - mse: 866713.7500
Epoch 35/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866732.5625 - mse: 866732.5625
Epoch 36/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866782.6875 - mse: 866782.6875
Epoch 37/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866673.9375 - mse: 866673.9375
Epoch 38/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866802.3125 - mse: 866802.3125
Epoch 39/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866748.1875 - mse: 866748.1875
Epoch 40/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866786.6875 - mse: 866786.6875
Epoch 41/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866722.6250 - mse: 866722.6250
Epoch 42/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866717.4375 - mse: 866717.4375
Epoch 43/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866766.5625 - mse: 866766.5625
Epoch 44/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866752.9375 - mse: 866752.9375
Epoch 45/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866779.2500 - mse: 866779.2500
Epoch 46/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866765.0000 - mse: 866765.0000
Epoch 47/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866757.6875 - mse: 866757.6875
Epoch 48/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866780.1875 - mse: 866780.1875
Epoch 49/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866762.8750 - mse: 866762.8750
Epoch 50/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866735.1250 - mse: 866735.1250
Epoch 51/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866781.7500 - mse: 866781.7500
Epoch 52/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866775.1875 - mse: 866775.1875
Epoch 53/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866705.1250 - mse: 866705.1250
Epoch 54/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866740.0625 - mse: 866740.0625
Epoch 55/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866719.0625 - mse: 866719.0625
Epoch 56/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866590.0625 - mse: 866589.9375
Epoch 57/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866848.4375 - mse: 866848.4375
Epoch 58/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866722.6250 - mse: 866722.6250
Epoch 59/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866695.3125 - mse: 866695.3125
Epoch 60/300
1024/1024 [==============================] - 3s 2ms/step - loss: 866661.3125 - mse: 866661.3125
Epoch 61/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866664.3125 - mse: 866664.3125
Epoch 62/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866764.5625 - mse: 866764.5625
Epoch 63/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866757.3750 - mse: 866757.3750
Epoch 64/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866654.8125 - mse: 866654.8125
Epoch 65/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866705.4375 - mse: 866705.4375
Epoch 66/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866811.3750 - mse: 866811.3750
Epoch 67/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866791.0625 - mse: 866791.0625
Epoch 68/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866706.0625 - mse: 866706.0625
Epoch 69/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866719.1250 - mse: 866719.1250
Epoch 70/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866780.6875 - mse: 866780.6875
Epoch 71/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866787.0625 - mse: 866787.0625
Epoch 72/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866625.3750 - mse: 866625.3750
Epoch 73/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866850.0000 - mse: 866850.0000
Epoch 74/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866758.3750 - mse: 866758.3750
Epoch 75/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866768.0625 - mse: 866768.0625
Epoch 76/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866809.3125 - mse: 866809.3125
Epoch 77/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866754.8750 - mse: 866754.8750
Epoch 78/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866737.2500 - mse: 866737.2500
Epoch 79/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866774.1875 - mse: 866774.1875
Epoch 80/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866799.3125 - mse: 866799.3125
Epoch 81/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866673.4375 - mse: 866673.3125
Epoch 82/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866802.5000 - mse: 866802.5625
Epoch 83/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866710.7500 - mse: 866710.7500
Epoch 84/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866731.7500 - mse: 866731.7500
Epoch 85/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866647.1250 - mse: 866647.1250
Epoch 86/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866740.1250 - mse: 866740.1250
Epoch 87/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866787.0625 - mse: 866787.0625
Epoch 88/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866771.5625 - mse: 866771.5625
Epoch 89/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866752.7500 - mse: 866752.7500
Epoch 90/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866760.2500 - mse: 866760.2500
Epoch 91/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866809.3750 - mse: 866809.3750
Epoch 92/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866831.3125 - mse: 866831.3125
Epoch 93/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866715.8125 - mse: 866715.8125
Epoch 94/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866726.6250 - mse: 866726.6250
Epoch 95/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866691.9375 - mse: 866691.9375
Epoch 96/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866842.3125 - mse: 866842.3125
Epoch 97/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866694.7500 - mse: 866694.7500
Epoch 98/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866785.5000 - mse: 866785.5000
Epoch 99/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866680.9375 - mse: 866680.9375
Epoch 100/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866835.6250 - mse: 866835.6250
Epoch 101/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866764.7500 - mse: 866764.7500
Epoch 102/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866813.8125 - mse: 866813.8125
Epoch 103/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866749.4375 - mse: 866749.4375
Epoch 104/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866739.6250 - mse: 866739.6250
Epoch 105/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866715.4375 - mse: 866715.4375
Epoch 106/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866739.9375 - mse: 866739.8750
Epoch 107/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866784.8750 - mse: 866784.8750
Epoch 108/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866789.6875 - mse: 866789.6875
Epoch 109/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866702.7500 - mse: 866702.7500
Epoch 110/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866754.9375 - mse: 866754.9375
Epoch 111/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866760.1875 - mse: 866760.1875
Epoch 112/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866701.5625 - mse: 866701.5625
Epoch 113/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866817.8750 - mse: 866817.8750
Epoch 114/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866771.5000 - mse: 866771.5000
Epoch 115/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866793.5000 - mse: 866793.5000
Epoch 116/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866728.9375 - mse: 866728.9375
Epoch 117/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866762.0625 - mse: 866762.0625
Epoch 118/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866757.4375 - mse: 866757.3750
Epoch 119/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866707.8125 - mse: 866707.9375
Epoch 120/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866707.6250 - mse: 866707.6250
Epoch 121/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866823.3125 - mse: 866823.3125
Epoch 122/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866807.8750 - mse: 866807.8750
Epoch 123/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866784.0625 - mse: 866784.0625
Epoch 124/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866718.1250 - mse: 866718.1250
Epoch 125/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866751.9375 - mse: 866751.9375
Epoch 126/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866688.5000 - mse: 866688.5000
Epoch 127/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866799.5625 - mse: 866799.5625
Epoch 128/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866682.7500 - mse: 866682.7500
Epoch 129/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866679.8125 - mse: 866679.8125
Epoch 130/300
1024/1024 [==============================] - 3s 2ms/step - loss: 866835.6875 - mse: 866835.6875
Epoch 131/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866741.8750 - mse: 866741.8750
Epoch 132/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866668.1875 - mse: 866668.1875
Epoch 133/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866775.6875 - mse: 866775.6875
Epoch 134/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866762.6875 - mse: 866762.6875
Epoch 135/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866723.9375 - mse: 866723.9375
Epoch 136/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866742.9375 - mse: 866742.9375
Epoch 137/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866687.3125 - mse: 866687.3125
Epoch 138/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866812.0000 - mse: 866812.0000
Epoch 139/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866703.7500 - mse: 866703.7500
Epoch 140/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866658.5000 - mse: 866658.5000
Epoch 141/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866728.7500 - mse: 866728.7500
Epoch 142/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866781.7500 - mse: 866781.8750
Epoch 143/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866683.2500 - mse: 866683.2500
Epoch 144/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866769.5625 - mse: 866769.5625
Epoch 145/300
1024/1024 [==============================] - 3s 2ms/step - loss: 866694.7500 - mse: 866694.7500
Epoch 146/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866791.8125 - mse: 866791.8125
Epoch 147/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866808.1875 - mse: 866808.1875
Epoch 148/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866734.5625 - mse: 866734.5625
Epoch 149/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866705.2500 - mse: 866705.2500
Epoch 150/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866778.1875 - mse: 866778.1875
Epoch 151/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866731.6250 - mse: 866731.6250
Epoch 152/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866806.1250 - mse: 866806.1250
Epoch 153/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866735.2500 - mse: 866735.2500
Epoch 154/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866773.2500 - mse: 866773.2500
Epoch 155/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866734.6250 - mse: 866734.6250
Epoch 156/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866826.8125 - mse: 866826.8125
Epoch 157/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866775.5000 - mse: 866775.5000
Epoch 158/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866721.5625 - mse: 866721.5625
Epoch 159/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866738.6250 - mse: 866738.6250
Epoch 160/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866775.7500 - mse: 866775.7500
Epoch 161/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866781.3750 - mse: 866781.3750
Epoch 162/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866785.0000 - mse: 866785.0000
Epoch 163/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866736.5625 - mse: 866736.5625
Epoch 164/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866768.2500 - mse: 866768.2500
Epoch 165/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866819.5000 - mse: 866819.5000
Epoch 166/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866724.1250 - mse: 866724.1250
Epoch 167/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866773.5000 - mse: 866773.5000
Epoch 168/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866767.2500 - mse: 866767.2500
Epoch 169/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866743.6875 - mse: 866743.6875
Epoch 170/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866789.5000 - mse: 866789.5000
Epoch 171/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866669.3125 - mse: 866669.3125
Epoch 172/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866780.6875 - mse: 866780.6875
Epoch 173/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866787.5625 - mse: 866787.5625
Epoch 174/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866697.0000 - mse: 866697.0000
Epoch 175/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866756.3750 - mse: 866756.3750
Epoch 176/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866666.5000 - mse: 866666.5000
Epoch 177/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866787.3750 - mse: 866787.3750
Epoch 178/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866798.0625 - mse: 866798.0000
Epoch 179/300
1024/1024 [==============================] - 3s 3ms/step - loss: 866456.5000 - mse: 866456.5000
Epoch 180/300
1024/1024 [==============================] - 3s 2ms/step - loss: 866797.0000 - mse: 866797.0000
Epoch 181/300
1024/1024 [==============================] - 2s 2ms/step - loss: 866752.1875 - mse: 866752.1875
Epoch 182/300

In [ ]:
ytest

array([[1440],
       [4270],
       [1010],
       ...,
       [2190],
       [1510],
       [1340]])

In [ ]:
y_pred = regressor.predict(xtest)
y_pred

138/138 [==============================] - 0s 1ms/step

array([[2105.584],
       [2105.584],
       [2105.584],
       ...,
       [2105.584],
       [2105.584],
       [2105.584]], dtype=float32)

In [ ]:
# evaluation

from sklearn.metrics import r2_score

r2_score(ytest,y_pred)*100

-0.03743330183976212

In [ ]:
86.50941817205249

86.50941817205249

In [ ]:
y_pred.flatten()

array([2105.584, 2105.584, 2105.584, ..., 2105.584, 2105.584, 2105.584],
      dtype=float32)

In [ ]:
pd.DataFrame({'Actual value':ytest.flatten(),'Predicted value':y_pred.flatten()}).head(10)

   Actual value  Predicted value
0          1440      2105.583984
1          4270      2105.583984
2          1010      2105.583984
3          1970      2105.583984
4          2320      2105.583984
5          1390      2105.583984
6          4070      2105.583984
7          2050      2105.583984
8          6880      2105.583984
9          2690      2105.583984

In [ ]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000